html, body {
    font-family: 'Roboto LightItalic', 'sans-serif';
}

h1 {
    margin: 0;
}

footer {
    padding-left: 1rem;
    padding-top: 1rem;
    position:fixed;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
    background:#000000;
    color: #FFFFFF;
}

.author-info {
    font-family: 'Roboto MediumItalic', 'sans-serif';
    align-self: flex-end;
    margin-bottom: 3px;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

div {
    /*border: thin solid red; !* for dev only *!*/
}

@media (max-width: 760px) {
    .author-info {
        padding-bottom: 1em;
    }

    .domain-link {
        font-size: 1rem;
    }
}
